<nav id="cabeza">
    <div id="opciones">
        <div class="opc" routerLink="/claims" routerLinkActive="linkActive">
            <fa-icon [icon]="faFieLines"></fa-icon>
            <h1> <b>Reclamo</b></h1>
        </div>
        <div class="opc" routerLink="/record" routerLinkActive="linkActive">
          <fa-icon [icon]="faLibro"></fa-icon>
            <h1> <b>Historial</b></h1>
        </div>
        <div class="opc" routerLink="/employees" routerLinkActive="linkActive">
          <fa-icon [icon]="faGrupo"></fa-icon>
            <h1> <b>Empleados</b></h1>
        </div>
        <div class="opc" routerLink="/data" routerLinkActive="linkActive">
          <fa-icon [icon]="faCasa"></fa-icon>
            <h1> <b>Datos</b></h1>
        </div>
        <div id="out" (click)="cerrarSesion(modalCerrarSesion)">
          <fa-icon [icon]="faSalir"></fa-icon>
            <h1> <b>Salir</b></h1>
        </div>
    </div>
</nav>
<!-- Modal Cerrar Sesion -->
<ng-template #modalCerrarSesion let-modal>
  <div class="modal-header" style="background-color: #A02A2A;">
    <h3 class="modal-title" id="modal-basic-title" style="color: #fff">Cerrando Sesión</h3>
    <button  type="button" class="btn close" (click)="modal.close('Cerrar')" aria-label="Close">
      <div aria-hidden="true">&times;</div>
    </button>
  </div>
  <div class="modal-body">
    <h3>¿Está seguro que desea salir?</h3>
  </div>
  <div class="modal-footer">
    <button id="cancelar" class="btn btn-primary"  (click)="modal.close('Cerrar')">Cancelar</button>
    <button id="salir" class="btn btn-danger"  (click)="salir()" >Salir</button><br>
  </div>
</ng-template>