<nav id="cabeza">
    <div id="opciones">
        <div class="opc">
            <fa-icon [icon]="faFileLines"></fa-icon>
            <h1> <b>Reclamo</b></h1>
        </div>
        <div class="opc">
            <fa-icon [icon]="faBookOpen"></fa-icon>
            <h1> <b>Historial</b></h1>
        </div>
        <div class="opc">
            <fa-icon [icon]="faPeopleGroup"></fa-icon>
            <h1> <b>Empleados</b></h1>
        </div>
        <div class="opc">
            <fa-icon [icon]="faHome"></fa-icon>
            <h1> <b>Datos</b></h1>
        </div>
        <div id="out">
            <fa-icon [icon]="faOut"></fa-icon>
            <h1> <b>Salir</b></h1>
        </div>
    </div>
</nav>