<div *ngIf="!load">
    <app-spinner></app-spinner>
</div>

<div *ngIf="load" class="cuerpo">
    <div class="row" >
        <div class="col-6"><h1>Empleados</h1></div>
        <div class="col-6"><button class="btn btn-success margin" (click)="agregarEmpleado(modalAgregarEmpleado)">Agregar Empleado</button></div>
    </div>
    <div class="row" [formGroup]="filtro">
        <div class="col-6"><input type="text" placeholder="Buscar por nombre" formControlName="nombre" >
            <fa-icon [icon]="faSearch" (click)="filtrarEmpleados()"> </fa-icon></div>
        <div class="col-6">
            <select formControlName="id_agencia" (change)="filtrarEmpleados()">
                <option value="" selected>Agencias</option>
                <option *ngFor="let agencia of agencias" value="{{agencia.id_agencia}}"> {{agencia.nombre}}</option>
            </select>
        </div>
    </div>
    <div *ngIf="resultados==false">
        <br><br><br>
        <h5>No hay datos disponibles</h5>
    </div>
    <div *ngIf="resultados==true">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Agencia</th>
                <th scope="col">Certificado</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Pacientes</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let us of empleados
                        | paginate: { id: 'foo',
                        itemsPerPage: 10,
                        currentPage: page }">
                <td>{{us.agencia}}</td>
                <th scope="row">{{us.certificado}}</th>
                <td>{{us.nombre}}</td>
                <td>{{us.correo}}</td>
                <td *ngIf="us.inactivo==null"><fa-icon [icon]="faGente" (click)="modPacientes(us, modalPacientes)"></fa-icon></td>
                <td *ngIf="us.inactivo==null" title="Editar Usuario" (click)="editarEmpleado(us, modalEditarEmpleado)"><fa-icon [icon]="faEdit"></fa-icon></td>
                <td *ngIf="us.inactivo==null" title="Inhabilitar Usuaurio" (click)="habEmpleado(us, modalHabEmpleado)"><fa-icon [icon]="faDel"></fa-icon></td>
                <td *ngIf="us.inactivo!=null"title="Habilitar Usuario"(click)="habEmpleado(us, modalHabEmpleado)"><fa-icon [icon]="faAct"></fa-icon></td>
            </tr>
            </tbody>
        </table>
        <pagination-controls 
        id="foo"
        (pageChange)="page = ($event)"
        previousLabel="Anterior"
        nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>


<!-- Modal Agregar empleado -->
<ng-template #modalAgregarEmpleado let-modal>
    <div class="modal-header" style="background-color: #326535;">
      <h1 class="modal-title" id="modal-basic-title" style="color: #fff">Agregar Empleado</h1>
      <button  type="button" class="btn close" (click)="modal.close('Cerrar')" aria-label="Close">
        <div aria-hidden="true">&times;</div>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-control" [formGroup]="newEmpleado" >
        <div class="form-control">
          <b>Certificado: </b><input  formControlName="certificado" placeholder="ejm: 0123">
        </div>
        <div class="form-control">
          <b>Nombre: </b><input  formControlName="nombre" placeholder="ejm: Juan Perez">
        </div>
        <span *ngIf="this.newEmpleado.get('nombre')?.invalid && this.newEmpleado.get('nombre')?.touched">
          (Los nombres y apellidos no puede contener números)
        </span>
        <div class="form-control">
          <b>Correo: </b><input formControlName="correo" placeholder="ejm: jperez@pilarh-opdf">
        </div>
        <span *ngIf="this.newEmpleado.get('correo')?.touched && this.newEmpleado.get('correo')?.invalid">
          (Escriba una dirección de correo valida)
        </span>
        <div class="form-control">
        <b>Agencia: </b><select  formControlName="agencia">
          <option *ngFor="let agen of agencias" value="{{agen.id_agencia}}"> {{agen.nombre}}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button id="cancelar" class="btn btn-secondary"  (click)="modal.close('Cerrar')">Cancelar</button>
      <button [ngClass]="{'disabled': newEmpleado.invalid, 'enabled': newEmpleado.valid  }" id="principal" class="btn btn-primary"  (click)="guardarEmpleado(newEmpleado.value)" >Guardar</button><br>
    </div>
  </ng-template>


  
<!-- Modal Editar empleado -->
<ng-template #modalEditarEmpleado let-modal>
    <div class="modal-header" style="background-color: #326535;">
        <h1 class="modal-title" id="modal-basic-title" style="color: #fff">Editar Empleado</h1>
        <button  type="button" class="btn close" (click)="modal.close('Cerrar')" aria-label="Close">
        <div aria-hidden="true">&times;</div>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-control" [formGroup]="editEmpleado" >
        <div class="form-control">
            <b>Certificado: </b><input  formControlName="certificado" >
            </div>
        <div class="form-control">
            <b>Nombre: </b><input  formControlName="nombre" >
        </div>
        <span *ngIf="this.editEmpleado.get('nombre')?.invalid">
            (Los nombres y apellidos no puede contener números)
        </span>
        <div class="form-control">
            <b>Correo: </b><input formControlName="correo" >
        </div>
        <span *ngIf="this.editEmpleado.get('correo')?.invalid">
            (Escriba una dirección de correo válida)
        </span>
        <div class="col form-control">
        <b>Agencia: </b>
        <select  formControlName="agencia">
            <option *ngFor="let agen of agencias" value="{{agen.id_agencia}}"> {{agen.nombre}}</option>
        </select>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="cancelar" class="btn btn-secondary"  (click)="modal.close('Cerrar')">Cancelar</button>
        <button [ngClass]="{'disabled': (editEmpleado.invalid || objCompare(editEmpleado.value, datosEmpleado)), 'enabled': (editEmpleado.valid)  }" id="principal" class="btn btn-primary"  (click)="confirmarEdicion(editEmpleado.value)" >Confirmar</button><br>
    </div>
</ng-template>

<!-- Modal Habilitar empleado -->
<ng-template #modalHabEmpleado let-modal>
    <div class="modal-header" style="background-color: #326535;">
      <h1 *ngIf="habilitado.inactivo==null" class="modal-title" id="modal-basic-title" style="color: #fff">Inhabilitar Empleado</h1>
      <h1 *ngIf="habilitado.inactivo!=null" class="modal-title" id="modal-basic-title" style="color: #fff">Habilitar Empleado</h1>
      <button  type="button" class="btn close" (click)="modal.close('Cerrar')" aria-label="Close">
        <div aria-hidden="true">&times;</div>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-control"><b>Certificado: </b> {{habilitado.certificado}} </div>
      <div class="form-control"><b>Nombre: </b>{{habilitado.nombre}}</div>
      <div class="form-control"><b>Correo: </b>{{habilitado.correo}}</div>
      <div class="form-control">
      <b>Agencia: </b>{{habilitado.agencia}}</div>
    </div>
    <div class="modal-footer">
      <button id="cancelar" class="btn btn-secondary"  (click)="modal.close('Cerrar')">Cancelar</button>
      <button *ngIf="habilitado.inactivo==null" id="principal" class="btn btn-primary"  (click)="inhabilitarEmpleado(habilitado)" >Inhabilitar</button><br>
      <button *ngIf="habilitado.inactivo!=null" id="principal" class="btn btn-primary"  (click)="habilitarEmpleado(habilitado)" >Habilitar</button><br>
    </div>
</ng-template>


<!-- Modal MostrarPacientes -->
<ng-template #modalPacientes let-modal>
    <div class="modal-header" style="background-color: #326535;">
      <h1 class="modal-title" id="modal-basic-title" style="color: #fff">Pacientes</h1>
      <button  type="button" class="btn close" (click)="modal.close('Cerrar')" aria-label="Close">
        <div aria-hidden="true">&times;</div>
      </button>
    </div>
    <div class="modal-body">
        <div class="row" [formGroup]="newPaciente">
            <div class="col-6"><input type="text" placeholder="Ejm Juan Perez" formControlName="nombre" ></div>
            <div class="col-6"><button class="btn btn-primary" (click)="crearPaciente()">Agregar Paciente</button></div>
        </div>
        <div *ngIf="resultPacientes==false">
            No hay pacientes agregados
        </div>
        <table *ngIf="resultPacientes==true" class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pac of pacientes">
                <td>{{pac.paciente}}</td>
                <td title="Editar Usuario"><fa-icon [icon]="faEdit"></fa-icon></td>
                <td><fa-icon [icon]="faDel"></fa-icon></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button id="cancelar" class="btn btn-secondary"  (click)="modal.close('Cerrar')">Cancelar</button>
    </div>
</ng-template>