table{
    width: max-content;
}

.cuerpo{
    margin-top: 2%;
    margin-left: 10%!important;
}
input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #326535;
    background-color: none;
    font-family: montse-ligth;
    width:inherit;
    color: rgb(56, 53, 53);
    margin-right: 10px;
    margin-top: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

select{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #326535;
    background-color: none;
    font-family: montse-medium;
    width:min-content;
    margin-right: 10px;
    margin-top: 10px;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.actualizar{
    width: 100px;
}

h6{
    margin: 10px 10px 0px 0px;
}

.marco{
    border: 1px solid #000;
    padding: 5px;
}