
.reclamo{
    width: 1240px;
    height: 1204px;
    font-size: 18px;
    background-color: #fff;
    position:static;
}

.encabezado{
    width: 100%;
    position: relative;
    top: 0;
}

.pie{
    width: 1240px;
    bottom: 2%;
}

.mensaje{
    padding-left: 7%;
    height: 90%;
    background-color: #fff;
}


.firma{
    padding-left: 7%;
    bottom: 12%;
    background-color: #fff;
}