<body id="tren">
    <div class="background"></div>
    <div class="card">
        <img src="../../../assets/img/logo.png" alt="" class="img-fluid logo">
        <h2>Inicio de Sesión</h2>
        <form [formGroup]="sesion" class="form">
            <input formControlName="correo" type="email" placeholder="Correo">
            <div>
                <input formControlName="password" [type]="fieldTextType ? 'text' : 'password'" placeholder="*******">
                <fa-icon *ngIf="!fieldTextType" [icon]="faEye" (click)="toggleFieldTextType()" > </fa-icon>
                <fa-icon *ngIf="fieldTextType" [icon]="faEyeSlash" (click)="toggleFieldTextType()" > </fa-icon>
            </div>
            <button  [ngClass]="{'disabled': sesion.invalid, 'enabled': sesion.valid}" class="btn ingresar" (click)="login()">Ingresar</button>        
        </form>
        <footer>
            <button (click)="openModal(modalConsultar)">Consultar</button>
        </footer>
    </div>

    <footer>
        <h6> © {{this.anio}} - PILARH-OPDF Seguro de empleados</h6> 
    </footer>
</body>

<!-- Modal Consultar -->
<ng-template #modalConsultar let-modal>
    <div class="modal-header" style="background-color: rgb(36, 105, 207);">
      <h3 class="modal-title" id="modal-basic-title" style="color: #fff">Consulta de reclamos</h3>
      <button  type="button"  (click)="modal.close('Cerrar')" aria-label="Close">
        <div aria-hidden="true">&times;</div>
      </button>
    </div>
    <div class="modal-body">
      <h5><b>Ingrese su correo y haga clic en Consultar</b></h5>
      <br>
      <div><b>Ingrese su correo:  </b><input class="correo" [formControl]="correo" type="text" placeholder="ejm jperezpilarh-opdf.org"></div><br>
      <p>Al dar click en consultar revise su correo por favor</p>
    </div>
    <div class="modal-footer">
      <button id="cancelar" class="btn btn-secondary"  (click)="modal.close('Cerrar')">Cancelar</button>
      <button [ngClass]="{'disabled': correo.invalid, 'enabled': correo.valid  }" id="principal" class="btn btn-primary" (click)="consultar()" >Consultar</button><br>
    </div>
  </ng-template>